build*/
subprojects/*/
compile_commands.json
workspace/
*.pyc
*.so
python/data
python/notebooks
subprojects/*
!subprojects/rzmcmt.wrap
.vscode/.browse.VC.db
.vscode/.browse.VC.db-shm
.vscode/.browse.VC.db-wal
.vscode/tags
*.csv
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
mathematica/Derivs.nb
python/.hypothesis/
python/.cache/
python/figures/
.mypy_cache/*
python/doc/xml
python/doc/build
