[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
"pybind11" = "*"
pendulum = "*"
pyinvoke = "*"
pint = "*"
dataclasses = "*"
tqdm = "*"
meson = "*"
"pushbullet.py" = "*"
logbook = "*"

[dev-packages]

[requires]
python_version = "3.6"
